<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" 
   "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<%
	require File.join(File.dirname(__FILE__), "ruby/get_doc")
	google_doc = GetDoc.new("dcjnq5tv_4gw4qk2")
	# blog_post = GetDoc.new()
%>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
		<title>Sample GetDoc Page</title>
		<style type="text/css" media="screen">
			#left {
				width: 50%;
				float: left;
			}
			#right {
				width: 50%;
				float: right;
			}
		</style>
	</head>
	<body>
		<div id="container">
			<div id="top">
				<div id="header">
					<div id="title">Sample GetDoc Page</div>
				</div>
				<div id="content">
					<div id="left">
						<h1>Google Doc</h1>
						<%= google_doc %>
					</div>
					<div id="right">
						<div class="sideitem">
							<h1>Blog Post</h1>
							<%= "blog_post" %>
						</div>
					</div>
				</div>			
		</div>
	</body>
</html>
